body {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.image {
  margin-top: 50px;
  width: 800px;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 5rem;
  z-index: 10;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 5rem;
  z-index: 10;
  cursor: pointer;
}

.leftArrow:hover, .rightArrow:hover {
  color: lightblue;
}

.slide {
  opacity: 0;
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transform: scale(1.05);
  transition-duration: 1s;
}